html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  text-align: center;
}
.twoColumns {
  display: flex;
}
.container {
  text-align: center;
  flex: 1;
  margin-left: 10%;
  margin-right: 10%;
}
.sidebar {
  width: max-content;
  padding-left: 3.5%;
  align-content: center;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  height: 100vh;
}
h1 {
  margin: 0 0;
  font-size: 2rem;
}
.sectionTitle {
  justify-self: center;
}
.left {
  text-align: left;
}
.blueContainer {
  width: 100%;
  display: flex;
  margin-top: 32vh;
  gap: 20px;
  text-align: left;
  margin-bottom: 32vh;
  justify-self: center;
}
.intro {
  align-self: center;
  padding-right: 5%;
  padding-left: 5%;
}
.imageBox {
  background-image: url("assets/1727080333814.jpeg");
  background-size: cover;
  align-self: center;
  border-radius: 400px;
  width: 20vw;
  height: 20vw;
}
.galleryImage {
  border-radius: 400px;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}
.imageBox:hover .mainImage {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
}
h2 {
  margin: 0 0;
  font-weight: bolder;
  font-size: 4rem;
  line-height: 90%;
}
h3 {
  margin: 0 0;
  font-size: 1.75rem;
  line-height: 90%;
  font-weight: bolder;
}
h4 {
  padding-top: 5px;
  margin-top: 0px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
.navBarItem {
  color: black;
  text-decoration: none;
  justify-self: flex-start;
}
.navBarItem:hover {
  color: navy;
  transition: 0.3s;
}
.resumeLink {
  text-decoration: none;
  color: black;
}
.resumeLink:hover {
  color: navy;
  transition: 0.3s;
}
.resumeContainer {
  margin-top: 20px;
  width: 100%;
  font-weight: bolder;
  justify-self: center;
}
.resumeHover {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  justify-self: center;
}
.timeSpan {
  justify-self: left;
  text-align: right;
  font-size: xx-small;
  font-weight: bolder;
  width: 15%;
  flex: 0 0 auto;
}
.resumeEntry {
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  gap: 20px;
  font-weight: normal;
  align-items: center;
}
.researcher:hover {
  background-color: aliceblue;
  transition: 0.3s;
}
.storyteller:hover {
  background-color: rgba(230, 230, 250, 50%);
  transition: 0.3s;
}
.developer:hover {
  background-color: mintcream;
  transition: 0.3s;
}
.activity {
  flex: 1 1 auto;
  text-align: left;
  font-size: medium;
}
.projectGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  gap: 20px;
  justify-self: center;
}
.project {
  flex: 1 1 auto;
  text-align: left;
  font-size: medium;
  font-weight: normal;
}
.projectName {
  color: black;
}
.research:hover {
  color: rgb(51, 65, 166);
  transition: 0.3s;
}
.story:hover {
  color: rgb(103, 59, 185);
  transition: 0.3s;
}
.code:hover {
  color: rgb(44, 112, 89);
  transition: 0.3s;
}
.companyName {
  margin-top: 5px;
  font-weight: normal;
  color: black;
}
.companyName:hover {
  color: navy;
  transition: 0.3s;
}
.resumeCompanyName {
  color: black;
  text-decoration: none;
}
.resumeCompanyName:hover {
  color: navy;
  transition: 0.3s;
}
.projectImage {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}
.projectImage:hover {
  transform: translateY(3px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.associatedProjectsContainer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  font-size: small;
  font-style: italic;
}
.associatedProject {
  color: black;
  text-decoration: none;
  border-radius: 20px;
}
.associatedProjectImage:hover {
  transform: translateY(2px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.associatedProjectImage {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 5px;
}
@media (max-width: 1250px) {
  .sidebar {
    display: none;
  }
  .twoColumns {
    display: block;
  }
  .projectImage {
    height: 20vh;
  }
  .resumeHover {
    width: 100%;
  }
  .blueContainer {
    display: grid;
    margin-top: 15vh;
  }
  .imageBox {
    justify-self: center;
    width: 200px;
    height: 200px;
  }
  .galleryImage {
    width: 200px;
    height: 200px;
  }
  .intro {
    justify-self: center;
    width: 300px;
  }
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
